# Ignore configuration files that may contain sensitive information.

# Node JS
node_modules

# Log files
*.log

# System
.DS_Store

# Bower
bower_components

# Dist
dist

# Screenshoots page view
screens
